<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'creacion de productos' , styles: ['products']} ) %> 

<body>

    <%- include('../partials/header') %>

    <section class="creationsContainer">

        <h1 class="productTitle"> CREAR PRODUCTO</h1>
        <button class="volver"><a href="/products/indexProduct"> ← </a></button>

        <form method="POST" action="/products/create" class=""  enctype="multipart/form-data"> 

        <fieldset class="createForm">  

            <div>
                <label> INGRESE EL TITULO :</label>
                <input type="text" id="name" name="titleProduct" required>
               
            </div>

            <div >
                <label> INGRESE LA IMAGEN DEL PRODUCTO </label>
                <input  type="file" name="img" required>
            </div>
            
            <div>
                <label> INGRESE UNA DESCRIPCION: </label>
                <textarea name="description" required></textarea>
                
                
            </div>
            <div>
                <label> CUAL ES EL PROCESADOR: </label>
                <input type="text" id="processor" name="processor">
                
            </div>
            <div>
                <label> CUAL ES LA RAM: </label>
                <input type="text" id="ram" name="ram">
                
            </div>
            <div>
                <label> CUAL ES LA MEMORIA: </label>
                <input type="text" id="memory" name="memory">
                
            </div>
            <div class="stateProduct">
                <label> STATUS: </label>
                <input type="radio" id="status" name="status" > Nuevo 
                <input type="radio" id="status" name="status"> Usado 
                    
            </div>
            <div>
                <label> DESCUENTO:</label>
                <input type="number" id="discount" name="discount">
                
            </div>
            <div>
                <label> PRECIO DE COMPRA: </label>
                <input type="number" id="purchasePrice" name="purchasePrice">
                
            </div>
            <div>
                <label> PRECIO DE VENTA: </label>
                <input type="number" id="salePrice" name="salePrice" required>
               
            </div>
            <div>
                <label>SELECCIONE LA CATEGORIA:</label>
                <select name="categories" id="categoriesSelect">
                    <%  for(let i = 0; i < categories.length; i++) { %>
                        <option value="<%= categories[i].id %>" selected="<%= categories[i].name === 'none' ? 'selected' : '' %>">
                            <%= categories[i].name %>
                        </option>
                    <% } %>
                </select>
                
            </div>
            
            <div>
                <label>SELECCIONE LA MARCA:</label>
                <select name="brand" id="brandsSelect">
                    <% for(let i = 0; i < brands.length; i++) { %>
                        <option value="<%= brands[i].id %>" selected="<%= brands[i].name === 'none' ? 'selected' : '' %>">
                            <%= brands[i].name %>
                        </option>
                    <% } %>
                </select>
               
            </div>
<br>
<br>

            <div class="boxButtonCreate">
                <button class="buttonsCreate" type="reset"> BORRAR </button> 
                <button class="buttonsCreate" type="submit"> CREAR </button> 
            </div>

        </fieldset>


        </form>

    </section>
    <%- include('../partials/footer') %>
</body>
</html>

