<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

        <%- include('../partials/filters') %>

    <main>

        <section class="destacados">
            <article class="DestacadosArt">
                <% products.forEach((product)=> { %>
                    <div class="infoDestacado">
                        <img src="/img/<%= product.product_images[0]?product.product_images[0].url:'default.jpg' %>" alt="ST">
                        <h4>
                            <%= product.name %>
                        </h4>
                        <h4> <%= product.salePrice.toLocaleString('en-US', { style: 'currency', currency: 'COP' }) %>
                        </h4>
                        <!-- <p>& <%= product.description %></p> -->
                        <button class="btn-add"><a class='button-detalle-de-producto'
                                href="/products/detail/<%= product.id %>">DETALLE</a></button>
                        <button class="btn-add prod">Agregar al carrito</button>
                    </div>
                    <% }) %>
            </article>
        </section>


    </main>

    <%- include('../partials/footer') %>

</body>

</html>




<!-- <div class="filtersButtonsContainer">

    <button class="filtersButtons"> <i class="fa-solid fa-mobile-button"> </i> </a>
        <ul class="mobile">  
            <li> <a href="/"> Xiaomi </a> </li>
                <li> <a href="/"> Realme  </a> </li>
                    <li> <a href="/"> Samsung </a> </li>
                        <li> <a href="/"> Iphone  </a> </li>
                            <li> <a href="/"> Huawei  </a> </li>
                                </ul>
    </button>

    <button class="filtersButtons"> <i class="fa-solid fa-desktop"> </i> </a>
        <ul class="desktop">
            <li> <a href="/"> Samsung </a> </li>
                <li> <a href="/"> Apple  </a> </li>
                    <li> <a href="/"> Lenovo </a> </li>
                        <li> <a href="/"> Hp </a> </li>
                        </ul>
    </button>

    <button class="filtersButtons"> <i class="fa-solid fa-headphones"> </i> </a>
        <ul class="accesories">
            <li> <a href="/"> Gadgets  </a> </li>
                <li> <a href="/"> Cargadores </a> </li>
                    <li> <a href="/"> Accesorios </a> </li>
                        <li> <a href="/"> Fundas </a> </li>
                            </ul>
    </button>
                
</div>

<div class="filtersBrandscontainer"> 
    <ul class="brandImages"> 
        <li> <a href="/"><img src="/images/logo/huawei.png" alt="" /></a> </li>
            <li> <a href="/"><img src="/images/logo/apple.png" alt="" /></a> </li>
                <li> <a href="/"><img src="/images/logo/realme.png" alt="" /></a> </li>
                    <li> <a href="/"><img src="/images/logo/samsung.jpg" alt="" /></a> </li>
                        <li> <a href="/"><img src="/images/logo/xioami.png" alt="" /></a> </li>
                            </ul>
</div>

<script src="/js/filters.js"></script> -->