<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Home  productos' , styles: ['products']}) %>

    <body>

        <%- include('../partials/header') %>

            <%- include('../partials/filters') %>
            <form action="submit" class="searchForm">
                <input class="searchFormInput" id="buscador" type="text" placeholder="Que estas Buscando ...?">
            </form>

                <main class="productsContainer">

                    <h2 class="productTitle"> Todos los productos que del mercado aqui </h2>


                    <% if (locals.userLogged) { %>
                        <button class="admButtons" id="buttonAdm"><a class='button-detalle-de-producto'
                                href="/products/create">crear Producto </a></button>
                        <% } %>

                        <section class="flexContainer">

                        
                            <% products.forEach((product)=> { %>

                                <section class="productList">

                                    <div class="productDetails">

                                        <img class="productImg"
                                            src="/img/<%= product.product_images[0]?product.product_images[0].url:'default.jpg' %>"
                                            alt="ST">
                                        <article class="infoProduct">
                                            <h4 class="productText">
                                                <%= product.name %>
                                            </h4>
                                            <h4 class="productDecimals">
                                                <%= product.salePrice.toLocaleString('en-US', { style: 'currency' ,
                                                    currency: 'COP' }) %>
                                            </h4>
                                            <button class="productButtons"><a class='button-detalle-de-producto'
                                                    href="/products/detail/<%= product.id %>">DETALLE</a></button>
                                            <button class="addCar"> <i class="fa-solid fa-cart-shopping"
                                                    id="shoppingBut"></i></button>
                                        </article>
                                    </div>

                                </section>
                                <% }) %>
                            </section>
                </main>

                <%- include('../partials/footer') %>
                <script src="/js/search.js"></script>
    </body>

</html>