<%- include('partials/head', {title: 'headSide' , styles: ['home']}) %>

<body>

    <%- include('partials/header') %>
    
    <%- include('partials/filters') %>

    <main>
        <%- include('sliderBanner') %> 

        <%- include('carrousels') %>

    </main>

    <section class="preFooterContainer">

        <div class="bannerBottom">
            <img src="/images/banners/reportados.png" alt="" >
                </div>




    </section>

</body>