<%- include('partials/head', {title: 'headSide' , styles: ['home']}) %>

<body>

    <%- include('partials/header') %>
    <%- include('partials/filters') %>

    <main>
        <%- include('sliderBanner') %> 
     
        <h1> Todo lo que necesitas en un solo lugar </h1>

        <%- include('carrousels') %>

        



<!-- esto es el contenido de mi proyecto  -->





    </main>

</body>